Repository stephenmathieson/harrisisharrypotter.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

mjs
  package.json
  src/app.mjs
  src/index.html
Due: prettier --write

replace parcel with vite, yarn with npm
  .npmrc
  .nvmrc
  index.html
  package-lock.json
  package.json
  src/app.css
  yarn.lock
Due: prettier --write

fmt
  .lintstagedrc.json
  src/app.mjs
Due: prettier --write

tests
  .github/workflows/ci.yml
  eslint.config.mjs
  package-lock.json
  package.json
  src/app.mjs
  test.mjs
Due: prettier --write

install
  .github/workflows/ci.yml
Due: none

port
  .github/workflows/ci.yml
Due: none

Update build tools and remove jerky page (#29)
  .github/workflows/ci.yml
  .husky/pre-commit
  .lintstagedrc.json
  .npmrc
  .nvmrc
  eslint.config.mjs
  index.html
  package-lock.json
  package.json
  src/app.css
  src/app.js
  src/app.mjs
  src/index.html
  src/jerky.html
  src/jerky.png
  test.mjs
  yarn.lock
Due: eslint --fix, prettier --write

README: fix port
  README.md
Due: prettier --write

README: fix port (#30)
  README.md
Due: prettier --write

update `@eslint/plugin-kit` for security
  package-lock.json
Due: prettier --write

add netlify badge
  README.md
Due: prettier --write

update `@eslint/plugin-kit` for security (#32)
  package-lock.json
Due: prettier --write

add netlify badge (#33)
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,js}
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,html,md,json})
